@font-face {
  font-family: 'Made Tommy';
  src: url('../../Fonts/made_tommy/MADE TOMMY Regular_PERSONAL USE.otf') format('otf');
       /* url('./Fonts/made-tommy-regular-webfont.woff') format('woff'); */
  font-weight: normal;
  font-style: normal;
}

.slider-container{
  display: flex;
  position: relative;
  background-color: black;
  justify-content: center;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  
}

.slider-wrapper{
position: relative;
margin-top: 50px;

}

.slider img{
  /* height: fit-content; */
  width: 100%;
  aspect-ratio: 16/9;
  opacity: 0.5;
}

.slider-text {
  position: absolute;
  top:0;
  left:0;
  width:100%;
  padding-top:20%;  
  text-align:center;
}
.slider-text h2{
color: white;
font-family: 'Made Tommy';
font-size: 18x;
}

.slider-text p{
  color: white;
  font-family: 'Made Tommy';
  font-size: 16px;
}

.contactUs_button{
  
  background-color: black;
  color: white;
  font-family: 'Made Tommy';
  font-size: 18px;
  border-radius: 5rem;
  width: 150px;
  height: 50px;
  transition: all 0.3s;
}

.contactUs_button:hover{
  background-color:orange;
  color:black;
  transform: scale(1.1)
}

@media screen and (max-width :900px) {
  .slider img{
    height: fit-content;
    width: 100%;
    opacity: 0.5;
  }

  .contactUs_button{
     display: none;
  }

  .slider-text{
    padding-top: 15%;
  }

  .slider-text h2{
    font-size: 16px;
  }

  .slider-text p{
    font-size: 14px;
  }
  
}
  
