.product-wrapper{
    display: inline-block;
    direction: column;
    position: relative;
    width: 100%;
    max-height: fit-content;
}
.products-container{
   display : flex;
   position: relative;
   justify-content: space-around;
   width: 100%;
   height: fit-content;

}

.product-wrapper h1{
    font-size: 50px;  
    font-family: 'Courier New', Courier, monospace;; 
    font-weight: lighter;
 }



.product-container{
   display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }


.product-wrapper .products-container img {
    width: 300px;
    height: 600px;
    
    
}

.product-wrapper button{
    font-size: 50px;  
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
    display: flex;
    position: absolute;
    bottom: 0px;
 }

 .product-name{
    position: absolute;
    bottom: 0;
 }

 .product-name p{
    color :white;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    font-weight: bold;
    margin-bottom: 10px;
    border-radius: 30px; 
    width: fit-content;
    padding: 5px;
    transition: all 0.3s;
 }

 .product-name a{
   text-decoration: none;
}

 .product-name a :hover{
   background-color:orange;
   color:black;
   transform: scale(1.1)
 }


 @media screen and (max-width :900px) {
   .products-container{
      display: block;
   }    

   .product-wrapper h1{
      font-size: 21px;
    }
    

   .product-wrapper p{
      font-size: 15px;
    }
    


}
   
