@font-face {
   font-family: 'Made Tommy';
   src: url('../../../../Fonts/made_tommy/MADE TOMMY Regular_PERSONAL USE.otf') format('otf');
        /* url('./Fonts/made-tommy-regular-webfont.woff') format('woff'); */
   font-weight: normal;
   font-style: normal;
 }
 
.product-wrapper{
    display: inline-block;
    direction: column;
    position: relative;
    width: 100%;
    max-height: fit-content;
}
.products-container{
   display : flex;
   position: relative;
   justify-content: space-around;
   width: 100%;
   height: fit-content;

}

.product-wrapper h1{
    font-size: 30px;  
    font-family: 'Made Tommy';
    font-weight: lighter;
 }



.product-container{
   display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }

.product-wrapper .products-container img {
    width: 150px;
    height: 300px;
}

.product-wrapper button{
    font-size: 50px;  
    font-family: 'Made Tommy';
    font-weight: lighter;
    display: flex;
    position: absolute;
    bottom: 0px;
 }

 .product-name{
    position: absolute;
    bottom: 0;
 }

 .product-name p{
    color :white;
    font-size: 12px;
    font-family: 'Made Tommy';
    background-color: black;
    font-weight: bold;
    margin-bottom: 10px;
    border-radius: 20px; 
    width: fit-content;
    padding: 10px;
    transition: all 0.3s;
 }

 .product-name a{
   text-decoration: none;
}

 .product-name a :hover{
   background-color:orange;
   color:black;
   transform: scale(1.1)
 }


 @media screen and (max-width :900px) {
   .products-container{
      display: block;
   }    

   .product-wrapper h1{
      font-size: 21px;
    }
    

   .product-wrapper p{
      font-size: 15px;
    }
    


}
   
