@font-face {
  font-family: 'Made Tommy';
  src: url('../../../../Fonts/made_tommy/MADE TOMMY Regular_PERSONAL USE.otf') format('otf');
       /* url('./Fonts/made-tommy-regular-webfont.woff') format('woff'); */
  font-weight: normal;
  font-style: normal;
}


.bottomBarContainer{
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
  }

  .itemsContainer{
    flex-direction: column;
    justify-content:space-between;;
    text-align: center;
    
  }


  .informationTitle {
    text-align: center;
    font-family: 'Made Tommy';
    font-size: 16px; 
    font-weight: bold;
    color: white;
  }

  .informationContent {
    color: white;
    text-align: center;
    font-family: 'Made Tommy';
    font-size: 14px;
  }

 
  @media screen and (max-width :900px) {
    .bottomBarContainer{
       display: block;
    }    
 }