@font-face {
    font-family: 'Made Tommy';
    src: url('../../Fonts/made_tommy/MADE TOMMY Regular_PERSONAL USE.otf') format('otf');
         /* url('./Fonts/made-tommy-regular-webfont.woff') format('woff'); */
    font-weight: normal;
    font-style: normal;
  }


.navbar{
    display: flex;
    position: fixed;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
    top:0;
    left: 0;
    box-sizing: border-box;
    align-items: center;
    background-color: black;
    z-index: 1;
}

.nav-links{
    display: flex;
    position: absolute;
    left: 35%;
}

   
.navbar .nav-links ul {
 display: flex;
 list-style-type: none;
 width: 100%;
 margin-left: 0px;
}

.navbar .nav-links ul li{
 font-size: 16px;
 font-weight: lighter;
 margin-left: 30px;
}

.navbar .nav-links ul li a {
color: white;
font-weight: lighter;
font-family: 'Made Tommy';
transition: 0.4s ease-in-out;
text-decoration:none;    
}

.navbar .nav-links ul li a:hover {
color: orange 
}

.navbar .menu-hamburger{
    display: none;
    position: absolute;
    right: 50px;
    font-size: 20px;
 
}

.logo-img{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    width: 200px;
    height: 55px;
    margin-left: 0.5em;
    
}

.nav-icons-container{
    display: flex;
    direction: row;
    position: absolute;
    right: 0;
    justify-content: space-between;
  }

.socialMedia-icon{
    margin-right: 20px;
    color: black;
    background-color: white;
    border-radius: 20%;
    padding: 5px;
    transform: all 0.3s;
    font-size: 18px;
  }

@media screen and (max-width :900px) {

.navbar{
    padding: 0;
    
}

.navbar .menu-hamburger{
display: flex;
position: absolute;
right: 0;
margin-right: 0.5rem;
align-items: "center";
background-color: black;

}


.menu-hamburger.close {
    content: "X";
    font-size: 24px;
}


  
    
.nav-links{
 top: 0;
 left: 0;
 position: absolute;
 width: 100%;
 height: 100vh;
 background-color: white;
 display: flex;
 justify-content: center;
 align-items: center;
 margin-left: -100%;
 transition: all 0.5s ease;

}

.nav-links.mobile-menu{
    margin-left: 0;

}

.nav-links ul{
    display: 'flex';
    flex-direction: column;
}

.navbar .nav-links ul li a{
    color: black;
    font-weight: lighter;
    font-family: 'Made Tommy';
}


.navbar .nav-links ul li {
    margin: 25px 0;
    font-size: 1.2em;
}

.nav-icons{
    display: none;
    
}

.logo-img{
    width: 100px;
    height: 35px;
}

}

