.aboutUs-container{
    position: relative;
    width: 100%;
  }

.aboutUs-title h1{
    font-size: 50px;  
    font-family: 'Courier New', Courier, monospace; 
    font-weight: lighter;
}



.aboutUs-content p{
    font-size: 20px;  
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
    text-align: justify;
    padding-left: 1rem;
    padding-right: 1rem;
}

  .aboutUs-container img{
    height: 500px;
    width: 100%;
    max-width: 100%;
    opacity: 0.5;
  }

  @media screen and (max-width :900px) {
    .contactUs_button{
       display: none;
    }
  
    .aboutUs-title h1{
      font-size: 21px;
    }
  
    .aboutUs-content p{
      font-size: 16px;
    }
    
  }
    