.bottomBarContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .itemsContainer{
    flex-direction: column;
    justify-content:space-between;;
    text-align: center;
    
  }

  .informationTitle {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px; 
    font-weight: bold;
  }

  .informationContent {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
  }

 

 